body {
    background-image: url(images/background/urgeteldep.png);
    background-size: 100%;
    background-attachment: fixed ;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}